.background {
  background: #011540;
}

.col-md-5 {
  height: 80px;
  background: #011540;
  display: inline-block;
  display: flex;
}

.col-md-7 {
  height: 80px;
  background: #011540;
  display: inline-block;
  display: flex;
}

.profile-icon{
  color: #efc107;
  padding: 14px;
  padding-right: 0px;
  font-size: 32px;
 
}


.p-dialog .p-dialog-content {
  background: #011540;
  color: #ffc107;
  padding: 0 1.5rem 2rem 1.5rem;
}

.p-tabview .p-tabview-panels {
  background: #011540;
  padding: 1.25rem;
  border: 0 none;
  color: #ffc107;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffc107;
  background-color: #011540;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
  color: #ffc107;
  background-color: #011540;
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffc107;
  background-color: #011540;

}

.p-inputtext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #ffc107;
  background: #011540;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.p-tabview .p-tabview-nav {
  background: #011540;
  border: 1px solid #ffc107;
  border-width: 0 0 2px 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid #ffc107;
  border-width: 0 0 2px 0;
  background: #011540;
  color: #ffc107;
  padding: 1.25rem;
  font-weight: 700;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: box-shadow 0.2s;
  margin: 0 0 -2px 0;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffc107;
  border-color: #ffc107;
  color: #011540;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem white;
}

.p-tabview .p-tabview-nav li {
  margin-right: 0;
  width: 50%;
  text-align: center;
}

.p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #011540;
  color: #ffc107;
  padding: 1.5rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}


.p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: #ffc107;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin-right: 0.5rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #ffc107;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: #011540;
  border-color: transparent;
  background: #ffc107;
}

.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-fileupload-choose.p-button-success {
  color: #ffc107;
  background: transparent;
  border: 1px solid #ffc107;
}

.p-button.p-button-success:enabled:hover {
  background: #ffc107;
  color: #011540;
  border-color: #ffc107;
}

.input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #011540 !important;
  color: fieldtext !important;
}

.p-paginator {
  background: #011540;
  color: #ffc107 !important;
  border: solid white;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
span.p-tabview-title {
    margin-left: 45px;
}

.pink {
  background: pink;
}

.orange {
  background: orange;
}

.logo-image {
  width: 8%;
  height: 50px;
  margin-top: 15px;
}

.logo-text {
  margin-left: 6px;
  align-items: center;
  color: #ffc107;
  display: flex;
}

.Menus {
  margin-left: 90px;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-style: normal;
}

.Menus a:hover {
  color: #ffc107;
}



.Menus a::before:hover {
  width: 100%;
}

.a {
  position: relative;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.a::after {
  content: "";
  position: absolute;
  background-color: #e74c3c;
  height: 3px;
  width: 100%;

}

.Home {
  margin-right: 18px;
  display: flex;
  text-decoration: none;
  color: white;
}




.our-project {
  margin-right: 18px;
  display: flex;
  text-decoration: none;
  color: white;
}

.About {
  margin-right: 18px;
  display: flex;
  text-decoration: none;
  color: white;
}

.Contact {
  margin-right: 18px;
  display: flex;
  text-decoration: none;
  color: white;
}

.btn-custom {
  margin-left: 10px;
  margin-top: 20px;
margin-bottom: 22px;

}

.top-10{
  padding-top: 10px;
}



button.p-button.p-component.p-button-sm.p-button-info {
  margin-right: 7px;
}

a.dropdown-toggle.nav-link {
  text-align: center;
  color: white;
}

.user-profile {
  margin-left: 10px;
  margin-top: 20px;


}

.p-panelmenu .p-panelmenu-header>a {
  width: 115px;
  padding: 10px;
  border: 1px solid #efc107;
  color: #efc107;
  background-color: transparent;
  font-weight: 700;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}

.p-panelmenu .p-panelmenu-header.p-highlight>a {
  background-color: transparent;
  border-color: #efc107;
  color: #efc107;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.p-menuitem:hover {
  background-color: #000000;
  color: #ffc107;
}

.p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled)>a:hover {
  border-color: #ffc107;
  background: #ffc107;
  color: #000000;
}

.p-panelmenu .p-panelmenu-content {
  width: 115px;
  border: 1px solid #011540;
  color: #efc107;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 2;
  position: relative;
}



.Bank-icon {
  font-size: 20px;
}

/* Slider Section */


.slider-image {
  width: 100%;
  height: 600px;
}


.heading-text {
  position: absolute;
  top: 135px;
  left: 8px;
}

.Text-1 {
  font-size: 26px;
  position: relative;
  top: 100px;
  margin-left: 120px;
  font-family: italic;
  color: #ff1100;
}

.Text-2 {
  font-size: 90px;
  font-family: ui-rounded;
  position: relative;
  top: 100px;
  margin-left: 120px;
  font-family: fongsong;
  color: #ff1100;
}


/*  Purpose Section */

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-heading {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.textp1 {
  color: white;
  margin-left: 18%;
  margin-top: 150px;
  color: white;
  text-align: center;
}

.textp2 {
  font-size: 18px;
  margin-left: 7%;
  margin-top: 30px;
  color: white;
  text-align: center;
}

.learnMore-btn {
  margin-top: 25px;
  text-align: center;
}

/* Card Section */

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .08), 0 0 12px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;

}
.text-align {
  text-align: center;
  
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  background-color:#720648;
  text-decoration-color: #ffc107;
  border: 1px solid rgb(255, 255, 255);

}

.icon {
  color: #ffc107;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.card-body {
  color: rgb(100, 26, 26);
}


.social-icon:hover {
  color: #e74c3c;
}


.bi {
  font-size: 25px;
  color: white;
}


/* About Sangat Section */

.image-section {
  width: 100%;
  height: auto;
  background-color: #011540;
  margin-top: 80px;
}

.about-image {
  width: 100%;
  height: 450px;
}

.text-section {
  margin-top: 25px;
}

.pra-about {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 10px;
}

.btn-about {
  margin-left: 245px;
}

.about-btn-text{
  text-decoration: none;
  color: #ffc107;
}
a:hover {
  color: none; 
}

.about-btn-text:hover{
  color: #000000;
}


/* Footer Section  */

.footer-logo {
  display: flex;
  margin-top: 25px;
}

.footer-logo-image {
  width: 8%;
  height: 50px;
  margin-left: 60px;
}

.footer-logo-text {
  color: #ffc107;
  font-size: 27px;
  margin-bottom: 25px;
  margin-left: 35px;
  margin-top: 10px;
}

.display {
  display: flex;
}

.social-btn {
  display: flex;
  margin-top: 23px;
}

.help-btn {
  margin-top: 0px;
  display: flex;
}

.social-icons {
  display: flex;
  color: #ffc107;
  font-size: 25px;
  margin-left: 26px;
  display: inline-block;

}

.footer-sidebar {
  color: white;
  padding: 30px 0;
  background-color: #011540;
}

.footer-headings {
  color: #ffc107;
  text-align: center;
}

.footer-headings::after {

  background-color: #ffc107;
  display: block;
  width: 50px;
  height: 2px;
  margin: 5px 0;
}

.purpose-text {
  text-align: center;
}


.custom-1 {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.Home-page {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;

}

.Home-page:hover {
  color: #ffc107;
}

.our-Project {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;

}

.our-Project:hover {
  color: #ffc107;
}

.About-Sangat {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.About-Sangat:hover {
  color: #ffc107;
}

.Contact-us {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.Contact-us:hover {
  color: #ffc107;
}


.address-text {
  text-align: center;
}

.footer {
  background-color: #011540;
  padding: 10px 0;
}

.footer-text {
  color: white;
  margin-left: 35px;
}

.white-text {
  color: white;
}

.yellow-text {
  color: #ffc107;
}

.privacy-text {
  text-decoration: none;
  text-align: center;
  color: white;
  float: right;
  margin-right: 35px;
}

.privacy-text:hover {
  color: #ffc107;
}

.custom-2 {
  border-top: 2px solid #4e4747;

}

.custom-3 {
  display: flex;
}


.btn-outline-success {
  --bs-btn-color: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc107;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc107;
  --bs-gradient: none;
}

/* Our Project Page */

.our-project-img {
  width: 100%;
  height: 600px;
}


.logo-img{
  width: 12%;
  height: 70px;
}

.project-text {
  position: absolute;
  top: 200px;
  left: 26%;
  text-align: center;
}

.project-heading {
  position: relative;
  margin-top: 11px;
  margin-left: 25px;
  font-size: 44px;
  color: #ffc107;
}

.Project-content {
  position: relative;
  font-size: 20px;
  color: #ffc107;
  top: 20px;

}

.Feature-image {
  width: 100%;
  height: 450px;
  margin-bottom: 30px;
}

.section-text {
  margin-top: 60px;
  margin-left: 100px;
}

.Feature-head1 {
  font-size: 45px;
  color: white;
text-align: center;
}

.Feature-head2 {
  font-size: 22px;
  color: white;
  text-align: center;
  margin-top: 25px;
}


.Features {
  padding-left: 28rem;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}


.feature-1 {
  margin-top: 10px;
}

/* About Page */

.about-img{
  width: 100%;
  height: 600px;
 }

.about-text {
  position: absolute;
  top: 230px;
  left: 28%;
  text-align: center;
}

.about-heading{
  position: relative;
  margin-top: 11px;
  margin-left: 25px;
  font-size: 44px;
  color: #ffc107;
}

.about-content{
  position: relative;
  font-size: 20px;
  color: #ffc107;
  top: 20px;
}

.ourteam-text{
  margin-top: 120px;
}


/* Contact Us Page */

.contact-headingtext{
  position: absolute;
  top: 160px;
  text-align: center;
  margin-left: 30%;
}

.contact-Text1{
  position: relative;
  margin-top: 100px;
  font-size: 44px;
  color: #011540;

}

.contact-Text2{
  position: relative;
  font-size: 22x;
  color: #011540;
  top: 20px;
}

.address-heading{
   font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 80px;
  }

  .top{
    padding-top: 45px;
  }

  .calendar{
    width: 100%;
  }

  .p-component1{
    width: 100%;

  }
    